<div class  "page-header" > 
	<h1>Manage Customers</h1>
</div>

<br>

<div class="showmore">
	<div class="col-lg-6">
		<form>
			<div class="form-row">
				
				<div class="col">
					<span class="input-group-text"> Results to display:</span>
				</div>
				<div class="col">
					<input type="text" class="form-control" ng-model="number">&nbsp&nbsp
				</div>
				<div class="col">
					<button type="submit" ng-click="customer.showMore(number);" class="btn btn-success">Apply Filter</button>
				</div>
				<div class="col">
					<button type="button" ng-click="customer.showAll(number);" class="btn btn-warning">Show All</button>
				</div>
			</div>
		</form>
	</div>
</div>

<nav class="navbar navbar-light">
	<form class="form-inline">
		<input class="form-control mr-sm-2" type="search" placeholder="Search for..." aria-label="Search" ng-model="searchKeyword">
		<button class="btn btn-outline-secondary my-2 my-sm-0" type="submit" ng-click="customer.search(searchKeyword, number);">Search</button>&nbsp
		<button class="btn btn-outline-secondary my-2 my-sm-0" type="button" ng-click="customer.clear();">Clear</button>&nbsp
		<!-- Advanced Search Button -->
		<!-- <a href="/search">
			<button type="button" class="btn btn-outline-secondary my-2 my-sm-0">Advanced Search</button>
		</a> -->

	</form>
</nav>

<!-- Total Search Results -->
<div ng-show="searchFilter !== undefined">
	<p><strong>Total results: </strong>{{ (customer.customers | filter: searchFilter).length }}</p>

</div>

<!-- Results Being Shown -->
<div ng-show="searchFilter !== undefined">
	<p><strong>Showing: </strong>{{( customer.customers | filter: searchFilter | limitTo: customer.limit).length }}</p>
</div>



<!-- Custom Error Message -->
<div class="row show-hide-message" ng-show="customer.showMoreError">
	<div class="alert alert-danger">{{ customer.showMoreError }}</div>
</div>

<br>

<div class="panel panel-primary">
	<p align = "right">
		<a href="/addcustomer" align="right">
			<button type="button" ng-show="customer.editAccess" align="right" class="btn btn-primary">Add Customer</button>
		</a>
	</p>


	<table class="table table-striped">
		<tr>
			<th>Customer Name</th>
			<th>Email</th>
			<th>Accounts Receivable Account</th>
			<th>Invoice Terms</th>
			<th>Chapter(s)</th>
			<th></th>	
		</tr>
		<tbody ng-repeat="mem in customer.customers |filter: searchFilter |limitTo: customer.limit">
			<tr ng-repeat="chap in mem.chapters">
				<td>{{!$index?mem.customername:''}}</td>
		       	<td>{{!$index?mem.email:''}}</td>
				<td>{{!$index?mem.aracct.glaccountnumber:'' - !$index?mem.aracct.glaccountname:''}}</td>
				<td>{{!$index?(mem.invoiceterms.name):''}}</td>
				<td>{{chap.chaptername}}</td>
				<td>
					<a href="/editcustomer/{{mem._id}}">
						<button ng-show="!$index" type="button" ng-show="customer.editAccess" class="btn btn-primary">Edit</button>
					</a>
					<button ng-show="!$index" type="button" ng-click = "customer.deleteCustomer(mem.customername);" ng-show="customer.deleteAccess" class="btn btn-danger">Delete</button>
	<!-- 				<a href="/edit/{{customer._id}}">
						<button type="button" ng-show="management.editAccess" class="btn btn-primary">Edit</button>
					</a> -->
					<!-- <button type="button" ng-click="management.deleteUser(person.username);" ng-show="management.deleteAccess" class="btn btn-danger">Delete</button> -->
				</td>
			</tr>
		</tbody>
	</table>

</div>

<br>
<div class="showmore">
	<div class="col-lg-6">
		<div class="input-group">
			<span class="input-group-text"> Results to display:</span>
			<input type="text" class="form-control" ng-model="number">&nbsp&nbsp
			<button type="button" ng-click="customer.showMore(number);" class="btn btn-success ">Apply Filter</button>
			<button type="button" ng-click="customer.showAll(number);" class="btn btn-warning">Show All</button>
		</div>
	</div>
</div>



    <!-- BootstrapJS Modal -->
    <div class="modal fade" id="memModal" role="dialog">
      <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
<!--             <button ng-hide="main.hideButton" type="button" ng-click="main.endSession();" class="close" data-dismiss="modal">&times;</button> -->
            <!-- Modal Header -->
            <h4 class="modal-title">Edit Customer</h4>
          </div>
          <!-- Modal Body -->
          <div class="modal-body">
            <p>Edit Customer Details</p>
          </div>
          <div class="modal-footer">
            <!-- Modal 'Yes' & 'No' Buttons -->
            <button type="button" ng-click="" class="btn btn-primary" data-dismiss="modal">Ok</button>
            <button type="button" ng-click="" class="btn btn-danger" data-dismiss="modal">Cancel</button>
          </div>
        </div>

      </div>
    </div>
    <!-- BootstrapJS Modal -->



<!-- $scope.showCustomerModal = function() {
  $scope.showCustomerEditModal = true;
};

$scope.updateCustomer = function() {
	//edit customer
  $scope.showCustomerEditModal = false;
};

$scope.cancelCustomerUpdate = function() {
  $scope.showCustomerEditModal = false;
}; -->

